.cardContainer {
    background: #333;
    width: 16rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0 1rem 1rem;
    border-radius: .5rem;
    padding: .5rem;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 0 .5rem .3rem #797979ee;

}
.name {
    font-size: 1.2rem
}
.diets {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 3rem;
}
.dietName {
    /* background: greenyellow; */
    padding: .2rem .5rem .2rem .5rem;
}
 .img {
    width: 14.5rem;
    height: 13rem;
    border-radius: 12px
}
.divHealthScore {
    /* background-color: rgb(255, 217, 0); */
    display: flex;
    width: 6rem;
    height: 2.4rem;
    justify-content: space-between;
    align-items: center;

}
.divHealthScore p {
    color: #fff;
    /* background-color: coral; */
    width: 2rem;
    height: 2rem;
}
.iconHealth {
    /* background-color: green; */
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}